---
# Plantilla. Copia este fichero a secrets.yml y rellénalo (secrets.yml está
# en .gitignore y NO se sube). Para generar el token en el nodo Proxmox:
#
#   pveum user token add root@pam ansible --privsep 0
#
pve_api_token_id: "root@pam!ansible"
pve_api_token_secret: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
